html {
    overflow: auto;
} 

html,
body,
div,
iframe {
    margin: 0px;
    padding: 0px;
    height: 100%;
    border: none;
    display: block;
    width: 100%;
    border: none;
    overflow-y: auto;
    overflow-x: hidden;
}

.embed-container {
    position: relative;
    padding-bottom: 70.75%;
    height: 0;
    overflow: hidden;
    }
    
.embed-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    }